* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/travel.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;

}

.logo {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar a{
  color: white;
}

.navbar{
  position: sticky;
  top:0;
  background-color: rgb(14, 102, 102);
}

.nav-link {
  color: hsl(60, 3%, 92%) !important;
  font-weight: 500;
  padding: 10px 15px;
}

.nav-link:hover {
  background-color:orange;
  border-radius: 1px;
  
}


.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;     
  background: rgba(0, 0, 0, 0.4); 
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  animation: fadeIn 2s ease-in-out;

}

.hero-section h1 {
  font-size: 3rem;
  font-weight: bold;
  animation: slideUp 1.5s ease forwards;
}

.hero-section p {
  font-size: 1.5rem;
  margin-top: 10px;
  animation: slideUp 2s ease forwards;
}

/* Slide-up effect */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-section p {
  font-size: 1.3rem;
}

.hero-section form input {
  max-width: 400px;
}

.img-fluid{
  transition:transform o.3s ease-in-out
}

.img-fluid:hover{
  transform:scale(1.06)
}

.plans-container{
  background-image: url(images/herobg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 25px;

}

.card-p {
  transition: transform 0.4s ease-out, box-shadow 0.8s ease-out;
  border-radius: 30px;
  background-color: rgb(168, 188, 199);
}

.card-p:hover {
  background-color: rgb(244, 240, 13);
  transform: translateY(-10px);
}





